
<div class="flex justify-between items-center mb-4">
</div>

<%= form.simple_fields_for :simulation_questions do |simulation_question_form| %>
  <%= render "simulation_question_fields", form: simulation_question_form %>
<% end %>
