<h1>Edit Interview Test</h1>

<%= render 'form', interview_test: @interview_test %>

<%= link_to 'Show', manager_interview_test_path(@interview_test) %> |
<%= link_to 'Back', manager_interview_tests_path %>
