<p>
  <strong>Company:</strong>
  <%= @interview_test.company %>
</p>
<br>

<h2>Interview Questions:</h2>
<% @interview_test.interview_questions.each do |question| %>
  <hr>
  <p><%= question.description %></p>
  <hr>
<% end %>

<br>
<%= link_to 'voltar', manager_interview_tests_path %>| <br>