<%= simple_form_for @candidature do |f| %>
  <div>
    <%= f.input :company_name %>
  </div>
  <div>
    <%= f.input :situation, collection: [:send, :sending, :answered], prompt: :translate %>
  </div>
  <div>
    <%= f.button :submit, class: "cursor-pointer" %>
  </div>
<% end %>
