<%= simple_form_for @candidature  do |f| %>
  <div>
    <%= f.input :company_name %>
  </div>

  <div>
    <%= f.input :situation, collection: Candidature.situations, prompt: "Select a situation", selected: "" %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
