<%= simple_form_for @candidature  do |f| %>
  <div>
    <%= f.input :company_name %>
  </div>

  <div>
    <%= f.input :situation, as: :select, collection: Candidature.situations, prompt: :translate, selected: "" %>

  </div>

  <div>
    <%= f.button :submit, class:"cursor-pointer" %>
  </div>
<% end %>

