
<div class="flex justify-between items-center mb-4">
  <span class="font-bold text-4xl"><%= I18n.t('manager.job_simulations.partials._form.title') %></span>
</div>

<%= form.simple_fields_for :simulation_questions do |simulation_question_form| %>
  <%= render "simulation_question_fields", form: simulation_question_form %>
<% end %>
