<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Companies</h1>
    <%= link_to 'New company', new_manager_company_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="manager_companies" class="min-w-full">
    <%= render @manager_companies %>
  </div>
</div>
